{% extends 'base.html' %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    h2 {
        margin-bottom: 10px;
    }

    form {
        width: 400px;
    }

    label {
        display: block;
        margin-top: 10px;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    select {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }
</style>
<form method="post" enctype="multipart/form-data" action="{% url 'customer_create' %}">
    {% csrf_token %}
    <label for="id_category">Name:</label>
    {{ form.name }}
    <label for="id_name">Phone Number:</label>
    {{ form.phone_number }}
    <label for="id_price">Email:</label>
    {{ form.email }}
    <label for="id_image">Profession:</label>
    {{ form.profession }}
    <label for="id_duration">Address:</label>
    {{ form.address }}

    <button type="submit">Save</button>
</form>
{% endblock content %}
