{% extends 'base.html' %}
{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin:5px
    }
    
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }
    .hidden{
        display:none;
    }
</style>
<div class="container">
    <div class="row">
     
      <div class="col-md-9">
        <h5> Client:{{customer}}</h5>
        <a href = "" class = 'btn btn-info'>+Products</a>
        <a class = 'btn btn-warning'>+Services</a>
        
        <table>
            <thead>
                <tr>
                    <th>Product/Service</th>
            
                    <th>Subtotal</th>
                    
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services  %}
                    <tr>
                    <td>{{service.name}}</td>
            
                    <td>{{service.price}}</td>
                    <td>{{service.price }}</td>
                    </tr>
                {% endfor %}
        
        <!-- Add more rows as needed -->
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="1">Discount Applied</th>
                    <td> <form action="{% url 'add_discount' id=appointment_id  %}" method = "POST">
                        {% csrf_token %}
                        <input name = 'discount' type='number'>
                        <button type = 'submit' class = 'btn btn-outline-primary'>Add Discount</button>
                    </form></td>
                    <td>{{discount}}%</td>
                </tr>
                <tr>
                    <th colspan="1">Tips</th>
                    <td><form action="{% url 'add_tips' id=appointment_id  %}" method = "POST">
                        {% csrf_token %}
                        <input name = 'tips' type='number'>
                        <button type = 'submit' class = 'btn btn-outline-primary'>Add Tips</button>
                    </form></td>
                    <td>{{tips}}<td>
                </tr>
                <tr>
                     <th colspan="1">Taxes 5%</th>
                    <td></td>
                    <td>+{{tax}}</td>
                </tr>
                <tr>
                  <th colspan="1">Total</th>
                    <td></td>
                    <td>{{total_price}}</td>
            
                </tr>
            </tfoot>
        </table>
        <a class='btn btn-outline-success'>Pay</a>
    </div>
    <div class="col-md-3">
       
    </div>
    </div>
</div>
{% endblock content %}