{% extends 'base.html' %}

{% block content %}

<style>
  .container {
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    margin-right: 10px;
  }
</style>



  <div class="container">
    <h1>Add Package</h1>
    <br>

    <form method="POST" action="{% url 'package_create' %}">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="id_name">Name:</label>
        <input type="text" id="id_name" name="name" class="form-control" required>
      </div>
      
      <div class="form-group">
        <label for="id_price">Price:</label>
        <input type="text" id="id_price" name="price" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="id_services">Services:</label>
        <select id="id_services" name="services" class="form-control" multiple required>
            <option value="" selected disabled>Select an existing service</option>
                {% for service in services %}
                    <option value="{{ service.pk }}">{{ service.name }}</option>
                {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="id_customer">Customer:</label>
        <select id="id_customer" name="customer" class="form-control" required>
            <option value="" selected disabled>Select an existing customer</option>
            {% for customer in customers %}
                <option value="{{ customer.pk }}">{{ customer.name }}</option>
            {% endfor %}
        </select>
      </div>

      <br>

      <button type="submit" class="btn btn-secondary">Add</button>
      <a href="{% url 'package_list' %}" class="btn btn-secondary">Back</a>
    </form>
  </div>
{% endblock %}

