{% extends 'base.html' %}

{% block content %}

<style>
    .form-group {
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="file"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    button {
      margin-right: 10px;
    }
  
    /* Style the image preview container */
    .image-preview {
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 10px;
    }
  
    /* Style the image within the preview container */
    .image-preview img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>


<div class="col-md-6 offset-md-3">
  <h1>Add Package</h1>
  <br/>

  <form method="POST" enctype="multipart/form-data" action="{% url 'package_create' %}">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="id_name">Name:</label>
      {{ form.name }}
    </div>
    
    <div class="form-group">
      <label for="id_price">Price:</label>
      {{ form.price }}
    </div>

    <div class="form-group">
      <label for="id_validity">Validity:</label>
      {{ form.validity }}
    </div>

    <div class="form-group">
      <label for="id_services">Services:</label>
      {{ form.services }}
    </div>

    <br/>
    <button type="submit" class="btn btn-primary" style="background-color: #337ab7; color: white;">Save</button>
    <a href="{% url 'package_list' %}" class="btn btn-secondary">Back</a>
  </form>
</div>

{% endblock %}
