{% extends 'base.html' %}

{% block content %}

<style>
    .form-group {
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="file"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    button {
      margin-right: 10px;
    }
  </style>




<div class="col-md-6 offset-md-3">
  <h1>Add Service</h1>
  <br/>

  <form method="POST" action="{% url 'service_create' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_name">Name:</label>
      <input type="text" id="id_name" name="name" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="id_category">Category:</label>
      <input type="text" id="id_category" name="category" class="form-control" value="Hair Services" required>
    </div>

    <div class="form-group">
      <label for="id_price">Price:</label>
      <input type="text" id="id_price" name="price" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="id_duration">Duration:</label>
      <input type="text" id="id_duration" name="duration" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="id_image">Image:</label>
      <input type="file" id="id_image" name="image" class="form-control-file">
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Add</button>
    <a href="{% url 'service_list' %}" class="btn btn-secondary">Back</a>
  </form>
</div>
{% endblock %}

{% block styles %}

{% endblock %}
