{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
  <h1>Add Staff Member</h1>
  <br/>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_name">Name:</label>
      <input type="text" id="id_name" name="name" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="id_branches">Branches:</label>
      <select id="id_branches" name="branches" class="form-control" multiple required>
        <option value="" selected disabled>Select an existing branch</option>
        {% for branch in branches %}
          <option value="{{ branch.pk }}">{{ branch.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="id_image">Image:</label>
      <input type="file" id="id_image" name="image" class="form-control-file">
    </div>

    <br/>
    <button type="submit" class="btn btn-secondary">Add</button>
    <a href="{% url 'staff_member_list' %}" class="btn btn-secondary">Back</a>
  </form>

  
<script>
  // Fetching option value attribute data from dropdown
  $('#id_branches').on('change', function() {
    var selectedOptions = $(this).val();
    console.log(selectedOptions);
    // You can perform further actions with the selected option values
  });
</script>
</div>
{% endblock %}

{% block styles %}
<style>
  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    margin-right: 10px;
  }
</style>

{% endblock %}
