{% extends 'base.html' %}

{% block content %}

<style>
    .form-group {
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      font-weight: bold;
    }
  
    input[type="text"],
    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    button {
      margin-right: 10px;
    }
  </style>


<div class="col-md-6 offset-md-3">
  <h1>Update Staff Member</h1>
  <br/>

  <form method="POST" action="{% url 'staff_member_update' staff_member.pk %}">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_name">Name:</label>
      {{ form.name }}
    </div>

    <div class="form-group">
      <label for="id_branches">Branches:</label>
      {{ form.branches }}
    </div>

    <div class="form-group">
      <label for="id_image">Image:</label>
      {{ form.image }}
    </div>

    <br>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'staff_member_list' %}" class="btn btn-secondary">Back</a>
  </form>
{% endblock %}




