{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
  <h1>Add Staff Member</h1>
  <br/>

  <form method="POST" enctype="multipart/form-data" action="{% url 'staff_member_create' %}">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="id_name">Name:</label>
      {{ form.name }}
    </div>
    
    <div class="form-group">
      <label for="id_branches">Branches:</label>
      {{ form.branches }}
    </div>
    
    <div class="form-group">
      <label for="id_image">Image:</label>
      {{ form.image }}
    </div>
    
    <br/>
    <button type="submit" class="btn btn-secondary">Add</button>
    <a href="{% url 'staff_member_list' %}" class="btn btn-secondary">Back</a>
  </form>
  

  
 <!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        const addButton = document.querySelector('.add-button');
        if (addButton) {
            addButton.addEventListener('click', function() {
                window.location.href = "{% url 'staff_member_create' %}";
            });
        }
    });
</script>
-->
</div>
{% endblock %}

{% block styles %}
<style>
  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    margin-right: 10px;
  }
</style>

{% endblock %}
